.header {
    background-color: #0CA789;
    margin: auto;
    width: 100%;
}
.nav-bar {
    background-color: #0CA789;
    float: left;
}   
.nav-item {
    background-color: #0CA789;
    font-weight: bold;
    color: #051613;
}

a.nav-item{
    color: #051613;
}

.nav-item:active {
    background-color: #0CA789;
    color: #c9ce7f !important;
  }
.user-icon {
    float: right;
    padding: 8px;
}