label {
    font-weight: bold;
}

.custom-color {
    color: #0CA789;
  }
  .btn-back {
    background-color: #f10d0d;
    color: #FFFFFF;
    border: 3px solid  #f10d0d;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .btn-back:hover {
    background-color: #f10d0d;
    color: #FFFFFF;
 }
 .btn-submit {
  background-color: #0CA789 !important;
  color: #FFFFFF;
  border: 3px solid  #0CA789;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 20vmin !important;
  min-width: 60px !important;
  margin-top: 5px !important;
  padding: 4px !important;
  margin-top: 10px !important;
  cursor: pointer;
  }
.btn-submit:hover {
  background-color: #0CA789;
  color: #FFFFFF !important;
  border: 3px solid  #26704c !important;
}
